<strong>Ol치, {{ tutor_name }}! </strong>
<p>
  Recebemos seu pedido de ado칞칚o e o(a) {{ animal_name }} j치 est치 sabendo da novidade 游때
  Vamos analisar sua solicita칞칚o o quanto antes e entraremos em contato.
</p>

