<strong>Olá, {{ tutor_name }}! </strong>
<p>
  Analisamos seu pedido de adoção e infelizmente, no momento, você não atende os requisitos para adotar um animal.
  <br>
  Somos muito exigentes quanto ao novo lar que nossos amiguinhos terão.

</p>

