<strong>Olá, {{ name }}! </strong>
<p>Ops... Você esqueceu sua senha, acontece! Clique no link abaixo para criar uma nova.</p>
<p>
  <a href="{{link}}">Clique aqui para redefinir sua senha</a>
  <br />
  <small>O link é valido por uma 24 horas!</small>
</p>
